*.iml
.gradle
.idea
.DS_Store
build/
captures
.externalNativeBuild
.cxx
local.properties
xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
**/xcode/**/xcuserdata/
.kotlin
android-signing.properties
